<h1>Store</h1>

<% if signed_in? %>
<%= form_for(@inventory_item) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>

	<div class = "field">
		<%= image_tag("wizardhatavatar.png", :alt => "Wizard Hat", :class => "round") %>
		<%= f.radio_button :content, "wizardhat" %> <%= f.label "Wizard Hat - 100 J" %> <br/>
		<%= image_tag("tophatavatar.png", :alt => "Top Hat", :class => "round") %>
		<%= f.radio_button :content, "tophat" %> <%= f.label "Top Hat - 200 J" %> <br/>
	</div>
	
	<div class = "actions">
		<%= f.submit "Purchase Item" %>
	</div>
	
<% end %>
<% end%>