<h1>Create User</h1>

<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages' %>

	<div class = "field">
		<%= f.label :name %><br/>
		<%= f.text_field :name %><br/>
	</div>
	<div class = "field">
		<%= f.label :robot %><br/>
		<%= image_tag("databotavatar.png", :alt => "Data Bot", :class => "round") %>
		<%= f.radio_button :robot, "databot" %> <%= f.label "Data Bot" %> <br/>
		<%= image_tag("hoverbotavatar.png", :alt => "Hover Bot", :class => "round") %>
		<%= f.radio_button :robot, "hoverbot" %> <%= f.label "Hover Bot" %> <br/>
		<%= image_tag("tankbotavatar.png", :alt => "Tank Bot", :class => "round") %>
		<%= f.radio_button :robot, "tankbot" %> <%= f.label "Tank Bot" %> <br/>
		<%= image_tag("energybotavatar.png", :alt => "Energy Bot", :class => "round") %>
		<%= f.radio_button :robot, "energybot" %> <%= f.label "Energy Bot" %> <br/>
	</div>
	<div class = "field">
			<%= f.label :password %> <br/>
			<%= f.password_field :password %> <br>
	</div>
	<div class = "field">
			<%= f.label :password_confirmation %> <br/>
			<%= f.password_field :password_confirmation %> <br>
	</div>
	<div class = "actions">
		<%= f.submit "Create User" %>
	</div>
	
<% end %>