<h1>Welcome, <%= @user.name %></h1>

<table class = "homepage">
	<tr>
		
		<td class = "image">
			<%= image_tag("#{@user.robot}#{@user.equippeditem}.png", :alt => @user.name, :class => "round") %>
			<p> <%= @user.health %> out of <%= @user.maxhealth %> energy points </p>
		</td>
		<td class = "stats"> 
			<p> Your level is <%= @user.level %> </p>
			<p> You have <%= @user.joules %> joules </p>
			<p> You have fought in <%= @user.totalbattles %> battles 
				and have won <%= @user.totalvictories %> and lost 
				<%= @user.totalbattles - @user.totalvictories %> </p>
			<p> You have eaten <%= @user.vegetablesthislevel %> servings of vegetables
				so far this level, and must eat <%= 20 - @user.vegetablesthislevel %> 
				more to level up! </p>
		</td>
		
	</tr>
	
	<tr>
		<% unless @user.inventory_items.empty? %>
		<table class="inventory" summary="Inventory">
			<p> Click on an item to use or equip it! 
			<% unless @user.equippeditem == "" %>
				Currently, <%= @user.equippeditem %> is equipped. 
			<% end %>
			</p>
			<h3>Inventory</h3>
			
			<% for item in @inventory_items%>
				<%= link_to itemimage = image_tag("#{item.content}.png", :alt => "#{item.content}", :class => "round"),
				{:controller => "users", :action => "equip", :id => @user.id, :item => "#{item.content}"} %>
			<% end %>
			
			<% unless @user.equippeditem == "" %>
				<p>Un-Equip Items<br/>
				<%= link_to unequip = image_tag("unequip.png", :alt => "Unequip item", :class => "round"),
				{:controller => "users", :action => "equip", :id => @user.id, :item => ""} %>
				</p>
			<% end %>
			
		</table>
		<% end %>		
	</tr>
	
</table>